body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #201b2d;
	margin: 0;
	padding: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
}

p {
	line-height: 1.65em;
}

.container {
	width: 1170px;
	margin: 0 auto;
}
header {
	background: rgba(78,192,254,1);
	background: -moz-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,192,254,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(135deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec0fe', endColorstr='#3790d9', GradientType=1 );
	padding-top: 62px;
	padding-bottom: 141px;
	color: #fff;
}
/*header*/
.wrapper {
	display: flex;
	justify-content: space-between;
}

.offer {
	margin-top: 155px;
}

.title {
	font-size: 37px;
}

.offer span {
	font-size: 59px;
}

.intro {
	width: 417px;
	margin-top: 50px;
	margin-bottom: 46px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	background: #ffd429;
	color: #2e2a1b;
	display: block;
	width: 222px;
	padding: 23px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #2e2a1b;
	color: #ffd429;
}
.desktop {
	margin-top: 56px;
}
/*section learn*/
.learn {
	padding-top: 112px;
	padding-bottom: 120px;
}
.section-title {
	text-align: center;
    font-size: 30px;
}
.skills {
	display: flex;
	justify-content:space-between;
	margin-top: 73px;
	font-family: 'Ubuntu', sans-serif;
}
.skill {
	text-align: center;
	width: 295px;
	background: url('../img/icon1.png') no-repeat top;
	padding-top: 100px;
}
.skill-title {
	font-size: 19px;
}
.skill-text {
	font-weight: 400;
}
.skill-free {
	width: 265px;
	background: url('../img/icon2.png') no-repeat top;
}

.skill-change {
	background: url('../img/icon3.png') no-repeat top;
}
/*section form*/
.mail {
	background: #ecf3f8;
	padding-top: 110px;
	padding-bottom: 103px;
}
.form {
	margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input {
	width: 343px;
	border: 1px solid #bbbbbb;
	color: #000;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	border-radius: 3px;
	height: 50px;
	padding-left: 25px;
	margin-bottom: 15px;
}
.btn-form {
	border: 0;
	cursor: pointer;
	display: inline;
	width: 343px;
}
/*footer*/
.footer {
	background: #164d7a;
	padding: 66px 0;
}
.credits {
	text-align: center;
	color: #fff;
	margin: 0;
}

/*Responsive*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.logo {
		display: block;
		margin: 0 auto;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: 100%;
	}
	.intro {
		width: auto;
	}
	.desktop {
		display: block;
	    width: 641px;
	    margin: 56px auto 0;
	}
	.skills {
		flex-direction: column;
	}
	.skill {
		width: auto;
		margin-bottom: 30px;
	}
	.btn {
		width: 100%;
	}
	.input {
		width: 100%;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.desktop {
		width: 100%;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
}